*{
  box-sizing: border-box;
}

button:hover{
    cursor: pointer;
}

body {
  font-family: "Nunito", sans-serif;
  background: #000220;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrapper{
  background-color: #D1F8EF;
  height: 100vh;
  display: flex;
  align-items: center;
}

.login-tray{
  background-color: white;
  max-width: 640px;
  padding: 20px;
  margin: auto;
  display: flex;
}

.image-container{
  width: 50%;
  height: 50%;
}

.image-container > img{
  width: 100%;
  object-fit: contain;
}

.form-container{
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
}

form{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

button{
  border: none;
  border-radius: 5px;
}

.title-container {
  display: flex;
  padding: 20px;
}

.title-container > h1{
  font-family: "Boldonse", sans-serif;
  font-size: 6rem;

}

.title-container > h1.first {
  color: #e2deff;
}

.title-container > h1.second{
  color:   #836FFF;
}

.tray {
  position: relative;
  width: 80vw;
  height: 70vh;
  background-color: #826fff31;
  padding: 20px;
  padding-bottom: 0;
  display: flex;
  justify-content: center; 
  ;
}


.content-wrapper{
  width: 80%;
  padding: 20px;
  /* height: 100%; */
  /* background-color: rgba(255, 255, 255, 0.596); */
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* justify-content: center; */
}

.post-wrapper{
  display: flex;
  flex-direction: column;
  gap: 14px;
  overflow: auto; /* Allows scrolling inside */
  height: 100vh;
  border-radius: 10px;
}

.post-wrapper::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.actions{
  position:sticky;
  top:0;
  gap: 10px;
  width: 20%;
  /* background-color: #98E4FF; */
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.actions > button{
  padding: 15px;
  border-radius: 50px;
  font-family: Boldonse;
  letter-spacing: 0.2rem;
  color: black;
  background-color: #836FFF;

  font-weight: 400;
  font-size: .8rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.actions > button:hover{
  background-color: #6b55ff;
  outline: 2px solid white;
}

.post-pill{
  max-height: 12rem;
  margin: 0 0.2rem;
  background-color: #e2deff;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  cursor: pointer;
}

.post-details> .content{
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.post-pill > .post-stats{
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.post-pill:hover{
  background-color: #cfc9ff;
}

.post-stats > #like{
  width: 22px;
}

.post-stats > #comment{
  margin-left: 10px;
  width: 19px;
}

.no-posts{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.post-header{
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 1.3rem;
}

.post-header h2{
  font-size: 2rem;
}

.post-customize{
  display: flex;
  gap: 0.5rem;
}

#edit{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 2rem; */
  background-color: #2bff00;
  border-radius: 5rem;
  align-items: center;
}

#delete{
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 2rem; */
  background-color: #eb3131;
  border-radius: 5rem;
  align-items: center;
}

.popup-overlay{
  background-color: #9696968e;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(231, 231, 231);
  padding:2rem;
  border-radius: 20px;
}

.popup button{
  margin: 1rem 0.5rem 0;
  padding: 0.4rem 1.5rem;
  font-size: .9rem;
  font-weight: 500;
  letter-spacing: .1rem;
  font-family: "Boldonse", sans-serif;
}

.confirm-delete{
  background-color: #eb0800;
}

.cancel-delete{
  background-color: #cfc9c9;
}

.search{
  /* background-color: #000220; */
  gap: 10px;
  display: flex;
  margin-bottom: 10px;  
}

.search > input{
  width: 80%;
  border-radius: 50px;
  border: none;
  padding: 15px;
  font-size: 1.2rem;
  background-color: #e2deff;
}

.search> input:focus{
  outline: none;
}

.filter-dropdown{
  width: 20%;
  display: flex;
  /* flex-direction: column; */
}

.filter-dropdown >button{
  width: 100vw;
  border-radius: 50px;
  font-family: Boldonse;
  letter-spacing: 0.4rem;
  background-color: #e2deff;
  font-weight: 400;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
}

.sort-modal{
  display: flex;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  background-color: #e2deff;
  height: 10rem;
  width: 13rem;
  padding: 1rem;
  top: 100px;
  right: 40px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 20px;
}

.sort-direction{
  display: flex;
  gap: 5px;
}

.sort-direction button{
  padding: 8px 0;
  gap: 2px;
  width: 50%
}

button > img{
  width: 25px;
}

.create{
  /* background-color: #e2deff; */
  /* display: flex; */
  height: 100vh;
}

.create > form > #title{
  outline: 2px solid #836FFF;
  border:none;
  border-radius: 50px;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: white;
}

.create > form > #content{
  outline: 2px solid #836FFF;
  resize: none;
  border:none;
  border-radius: 20px;
  padding: 0.8rem;
  background-color: rgba(255, 255, 255, 0);
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: white;
}

#content::-webkit-scrollbar{
  display: none;
}

.button-container{
  display: flex;
  gap: 10px;
  justify-content: right;
}

.button-container>button{
  font-family: boldonse;
  font-size: .8rem;
  letter-spacing: 0.1rem;
  border: none;
  border-radius: 20px;
  padding: .6rem 1rem;
  background-color: #836FFF;
}

.detail{
  background-color: #e2deff;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;
}

.detail::-webkit-scrollbar {
  display: none;
}

.detail .post{
  margin: 1rem;
  gap: 1rem;
}

.detail> h2{
  font-size: 2rem;
}

.comment-section > .load-comment{
  min-width: 5rem;
  padding: 0.5rem;
  margin: 1rem 0;
  margin-left: 45%;
  background-color: #836FFF;
  border-radius: 1rem;
}

.comment-box form{
  display: flex;
  gap: 1rem;
  margin: 0.5rem 1rem;
}

.comment-box input{
  padding: 0.5rem;
  border-radius: 2rem;
  border: solid white;
} 

.comment-box button{
  min-width: 5rem;
  padding: 0.5rem;
  margin-left: auto;
  background-color: #836FFF;
  border-radius: 1rem;
}

.comment-list{
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
}

.comment-list .comment{
  margin-bottom: 1rem;
}

.comment-content{
  margin-left: 2rem;
}